.video-container {
	height: 200%;
	width: 100%:
	
}
body{
	
	margin: 0;
	padding: 0;
	background-color: #fff;
	overflow-x: hidden;
	overflow-y: scroll;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 20px;
}

.navigation {
	font-size: 30px;
    list-style: none; /* Remove default list styles */
    margin: 0;
    padding: 0;
	position: absolute;
	left: 60%;
	top: 5%;
}

.navigation li {
    display: inline-block; /* Display list items horizontally */
    margin-right: 20px; /* Add some spacing between list items */
}

.navigation a {
    text-decoration: none;
    color: #f7f8fa; /* Change link color */
}

.navigation a:hover {
    color: #0911b3; /* Change link color on hover */
}

